h1 {
  text-align: center;
  position: absolute;
  padding: 75px;
  top: 40%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 600;
}

#sfo {
  text-align: center;
}

h2{
  text-align: center;
  font-size: 35px;
  font-family: Raleway;
  top: 60%;
  padding: 75px;
}


.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 12px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
